<div class="container">
  <app-topbar></app-topbar>

  <div class="block">
    <!--is-info  is-success  is-warning  is-danger -->
    <div class="notification" [ngClass]="board_idx > 0 ? 'is-danger' : 'is-info'" >
      <button class="delete" id="btnD"></button>
       {{ getDataModeStatus() }}
    </div>
  </div>

  <!-- FORMS -->
  <div class="block">
      <div class="field">
        <label class="label">Subject</label>
        <input id="txtSubject" type="text" class="input" placeholder="Enter Subject" [(ngModel)]="board.board_subject" >
      </div>
      <div class="field">
        <label class="label">Content</label>
        <p class="control">
          <textarea class="textarea" placeholder="Enter daata" [(ngModel)]="board.board_content"></textarea>
        </p>
      </div>
  </div>

  <div class="block">
    <a class="button is-info m-r-xs" (click)="saveData()" >저장</a>
    <a class="button is-danger" (click)="deleteData()" *ngIf="board_idx > 0" >삭제</a>
  </div>

</div>
<div style="margin-top:200px"></div>
