<!-- NAVBAR -->
<div class="block">
  <nav class="nav">
    <div class="nav-left">
      <a href="" class="nav-item">
        <h1 class="title is-4"></h1>
      </a>
    </div>

    <div class="nav-center">
      <a href="" class="nav-item">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
      </a>
      <a href="" class="nav-item">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
      </a>
    </div>

    <div class="nav-right nav-menu">
      <a routerLink="/home" class="nav-item">Home</a>
      <a routerLink="/" class="nav-item">Example</a>
      <a routerLink="/aboutus" class="nav-item">About Us</a>
      <a routerLink="/contact" class="nav-item">Contact</a>
    </div>
  </nav>
</div>
<div style="box">

</div>
